@charset "ISO-8859-1";

body {
  background-color: #42005a;
  color: #3df3c2;
  font-family: Calibri, sans-serif;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

div {
  display: flex;
}

input {
  display: block;
  margin: 5px;
  max-height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.error{
	color: #c84e48;
  max-width: 400px;
}

input[type="submit"] {
  width: 165px;
  padding: 5px;
  background: transparent;
  border: 2px solid #3df3c2;
  color: #3df3c2;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;    
}